
.books {
  box-shadow: 3px 3px 5px #5c5158;
  border-radius: 90px;
  background:#f6f9fb;
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  color: black;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

 a {
  color:black;
} 

h1 {
  font-size: 25px;
  font-weight: bold;
}


li {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  padding-left: 25px;
 
}

li.description{
  background-color: #deedf0;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.description {
  width: 300px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  height: 150px;
  overflow: scroll;
  border-radius: 15px;
  
}

.hide-form {
  display: none;
}

.select-button{
  background-color: whitesmoke;
  text-align: center;
  font-weight: bold;
  height: 25px;;
  line-height: 25px;
  margin-right: 170px;
  margin-left: 170px
  
}

.select-button:hover{
  color: rgb(148, 148, 148);
}

button:hover{
  color: rgb(161, 160, 160);
}

a:hover{
  color: rgb(161, 160, 160);
}

input {
  height: 15px;
}

#select-bookshelf{
  margin-left: 10px;
}
