
.books {
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  border-radius: 3px;
  background: gray;
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  color: black;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  font-size: 1.5em;
}


a {
  color: whitesmoke; 
  background-color: rgb(20, 20, 20); 

}



h1 {
  font-size: 25px;
  font-weight: bold;
}


li {
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  padding-left: 25px;
 
}

li.description{
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.description {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  height: 150px;
  overflow: scroll;
  
}

.hide-form {
  display: none;
}

button{
  background-color:rgb(31, 30, 30);
  padding: 8px;
  border-style: solid;
  border-color:rgb(31, 30, 30);
  border-radius: 15px;
}

.select-button{
  background-color: whitesmoke;
  text-align: center;
  font-weight: bold;
  height: 25px;;
  line-height: 25px;
  margin-right: 170px;
  margin-left: 170px
  
}

.select-button:hover{
  color: rgb(148, 148, 148);
}

button:hover{
  color: rgb(198, 241, 211);
  color-adjust: white;
}

#google-button {
  background-color: chartreuse;
  color: whitesmoke;
  margin-top: 10px;

}

a:hover{
  color: lightgrey;
}

input {
  height: 15px;
}